@import "basic";

.page-layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px;
  grid-auto-rows: 40px;
}

.header {
  grid-column: span 12;
}

.menu {
  grid-column: span 3;
  @media screen and (max-width: 575px) {
    grid-column: span 12;
  }
}

.content {
  grid-column: span 9;
  @media screen and (max-width: 575px) {
    grid-column: span 12;
  }
}

.footer {
  grid-column: span 12;
}
